th 
{
    border: 1px solid;
    border-collapse: collapse;
    height: 50px;
}
td 
{
border: 1px solid;
border-collapse: collapse;
height: 30px;
}
input
{
    height: 30px;
}

div
{
    width: 30%;
    margin: 5% 20% 5% 20%;
    padding-left: 15%;
    background-color: white;
}
table
{
border: 1px solid;
border-collapse: collapse;
width: 50%;
text-align: center;
margin: 5% 20% 10% 20%;
padding: 0% 20% 0% 20%;
}
.rel
{
    background-color: yellow;
}
